{:kotoba.app/id "cloud.itonami.isic-8549", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidn5ohzbksdc7ywfdwp6d3xtwwtnjx4psv5kwdcx2fzg3dtwmgw2y", :kotoba.app/embed-url "ipfs://bafkreidn5ohzbksdc7ywfdwp6d3xtwwtnjx4psv5kwdcx2fzg3dtwmgw2y", :published {:archive "https://kotobase.net/ipfs/bafkreidn5ohzbksdc7ywfdwp6d3xtwwtnjx4psv5kwdcx2fzg3dtwmgw2y", :size 9852, :put-status 201, :get-status 200, :at "2026-08-15T14:00:41.244Z"}}
